<style>
    @import url('https://fonts.googleapis.com/css?family=Cantata+One');
    @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans');
</style>

@font-face{
    font-family: 'Alegreya Sans', sans-serif;
}

@font-face{
    font-family: 'Cantata One', serif;
}

body {
    padding: 20px 40px 20px 40px;
}

.header {
    height: 50px;
    width: 100%;
    display: flex;
}

.center {
    text-align: center;
    margin: auto;
}

h1 {
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    padding-top: 20px;
 }

h2 {
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    color: white;
 }

 h3 {
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
 }

.navigation {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
    line-height: 2;
    display: flex;
    margin: auto;
    padding-right: 0;
    padding-top: 15px;
    margin-right: 0;
    float: right;
}

ul {
    display: flex;
    margin: 0px;
    padding-right: 40px;
    float: right;
}

li {
    float: left;
    margin: 0px 0px 0px 20px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover {
    color: lightblue;
    transition: .2s;
}

.row {
    padding: 20px 0 20px 0;
}

.carousel {
    background-color: grey;
    max-height: 500px;
    min-height: 200px;
    object-fit: cover;
    width: 100%;
    padding: 0;
    margin: 15px;
}

.carousel-content {
    position: absolute;
    bottom: 10%;
    left: 5%;
    z-index: 20;
    color: white;
    text-shadow: 0 1px 2px rgba(69, 69, 69, 0.6);
  }

.bodytext {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 60px;
}

.bodytext2 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1.2em;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bodytext3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 1em;
    line-height: 1.3;
    padding: 10px;
}

img {
    max-width:100%;
    object-fit: cover;
    max-height: 500px;
    align-content: center;
}

.middle2 {
    max-width: 800px;
    margin: auto;
    align-content: center;
}

.middle4 {
    max-width: 800px;
    margin: auto;
    align-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.form {
    max-width: 800px;
    margin: auto;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.aboutimage {
    max-width: 500px;
    padding-right: 50px;
    display: flex;
}

.about {
    max-width: 300px;
    padding: 0;
}

p {
    padding-top: 15px;
}

about {
    font-family: 'Cantata One', serif;
    font-size: 1.5em;
    padding-top: 20px;
}

form {
    max-width: 800px;
    margin: auto;
}

.blue2 {
    margin-top: 20px;
}

.blue:hover{
    background-color: lightblue;
    color: white;
}

.blue2:hover{
    background-color: lightblue;
    color: white;
}

@keyframes colorfade {
    0% {background-color:pink;}
    25% {background-color:orange;}
    50% {background-color:yellow;}
    100% {background-color:pink;}
}

.blue2 {animation: colorfade 2s linear 0s infinite;}

footer {
    color: gray;
    text-align: left;
    font-weight: 100;
    font-size: 1em;
    font-weight: light;
    font-family: 'Alegreya Sans', sans-serif;
    left: 0;
    bottom: 0;
    padding-top: 5px;
}

@media screen and (max-width:768px) {
    .header{
        height: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-content: center;
    }

    h1 {
        text-align: center;
        flex-wrap: wrap;
        padding: 0px 20px 30px 20px;
        flex-basis: 100%;
    }

    .navigation {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.2em;
        line-height: 2;
        display: flex;
        align-content: center;
        margin: auto;
    }


@media screen and (max-width:540px) {
    h1 {
        text-align: center;
        flex-wrap: wrap;
        padding: 0px 20px 30px 20px;
        flex-basis: 100%;
    }

    .navigation {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1.2em;
        line-height: 2;
        display: flex;
        padding: 0;
        margin: auto;
        align-content: center;
    }

    h3 {
        font-family: 'Cantata One', serif;
        font-size: 1.3em;
        text-align: center;
        padding-top: 0;
        padding-bottom: 10px;
     }

     .bodytext {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: .9em;
        line-height: 1.3;
        padding-top: 10px;
        padding-bottom: 40px;
    }

    .bodytext2 {
        font-family: 'Alegreya Sans', sans-serif;
        font-size: 1em;
        line-height: 1.3;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    .middle4 {
        max-width: 800px;
        margin: auto;
        align-content: center;
        padding-top: 20px;
        flex-direction: column;
    }
    
    .aboutimage {
        max-width: 500px;
        width: 100%;
        padding-right: 0;
        align-content: center;
        margin: 0;
        padding-bottom: 20px;
    }
    
    .about {
        max-width: 300px;
    }

    footer {
        color: gray;
        text-align: left;
        font-weight: 100;
        font-size: .8em;
        font-weight: light;
        font-family: 'Alegreya Sans', sans-serif;
        left: 0;
        bottom: 0;
        padding-top: 5px;
    }